<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div>
            <div id="navigator">
                <ul>
                    <li>
                        <a href="{{ path('event_index') }}">Eventos</a>
                    </li>
                    <li>
                        Tipos de eventos
                    </li>
                </ul>
            </div>
            <div id="body">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
